body { background: #af26d3; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 30px; display: flex; }
.block-helper-0 { color: #56f664; font-size: 20px; margin-bottom: 5px; }
.block-search-1 { color: #23ea06; font-size: 15px; margin-bottom: 5px; }
.block-notify-2 { color: #8681fb; font-size: 21px; margin-bottom: 5px; }
.block-token-3 { color: #b6ec85; font-size: 18px; margin-bottom: 5px; }
.block-product-4 { color: #1ce351; font-size: 17px; margin-bottom: 5px; }
.block-search-5 { color: #7653d7; font-size: 18px; margin-bottom: 5px; }
.block-logger-6 { color: #24b237; font-size: 13px; margin-bottom: 5px; }